<!DOCTYPE html>
{% extends 'first_app/profile.html' %}
{% load staticfiles %}
{% block body_block %}
<link href="https://fonts.googleapis.com/css?family=Bitter|Roboto+Slab" rel="stylesheet">
<link rel="stylesheet" href="{% static "css/login.css" %}"/>
    <head>
        <title> Welcome </title>
    </head>
    <body>
        <form action="/tester/" method="post">
            {% csrf_token %}
            <!-- {% csrf_token %} -->
            <label for="user_name">您的名字</label>
            <input id="user_name" type="text" name="data">
            <input type="submit" value="進入網站">
        </form>
    </body>
</html>
{% endblock %}